img{
    width: 100%;
}
.top-text h1{
    font-family: "Dancing Script", cursive;
    color: antiquewhite;
    font-size: 4em;
}
.top-text p{
    font-family: "Caveat", cursive;
    font-size: 1.8em;
    color: rgb(240, 207, 164);
}
.top-text{
    background-color: #a37c65;
    box-shadow: 0px 5px 20px 10px a37c65;
}
.navbar{
    background: #70665b;
margin-bottom: 30px;
}
.nav-link{
    color: rgb(225, 208, 173);
font-family: "Comfortaa", sans-serif;

}
.nav-link.active{
    color: beige;
}
.font{
     font-family: "Cormorant Garamond", serif;
}
.line{
    width: 50%;
    text-align: center;
    margin: auto;
    display: block;
}
/* font-family: "Kaushan Script", cursive; */
/* font-family: "EB Garamond", serif; */
/* font-family: "Cormorant Garamond", serif; */

/* font-family: "Comfortaa", sans-serif; */