img{
    width: 100%;
}

.nav-link{
    color: navy;
    font-weight: 900;
    opacity: 1;
}
.logo-img{
    width: 80px;
    
}
.zoom:hover{
    transform: scale(1.5);
}
.zoom{
  transition: 0.5s;  
}
.col-md-5{
    overflow: hidden;
}
.footer{
    background-color: navy;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    color: #dbdbdb;
}
.socio{
    font-size: 2rem;
    color: white;
}